/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 40px;
	font-weight: bold;
	color: red;
	margin: 20px 0px 20px;
	text-align: left;
	font-style: normal;
}

.h2 {
	font-size: 20px;
	font-weight: bold;
	color: red;
	margin: 10px 0px 10px;
	text-align: left;
	font-style: normal;
}

.raumEditPanel {
	margin-top: 30px;
}

.inputField {
	width: 150px;
}

.inputlabel {
	width: 130px;
}

.raumtable {
	margin: 5px 5px 5px 5px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

.gwt-DecoratorPanel {
	margin-left: 340px;
	margin-right: auto;
	margin-top: 100px;
}

#header {
	font-weight: bold;
	font-size: 2em;
	font-style: italic;
	color: red;
}

#navigation {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 1.5em;
	color: white;
	background-color: red;
	text-align: center;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}